@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html, body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    background: #333340;
}

.pocker-desc {
    position: relative;
    width: 650px;
    height: 350px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.leather {
    width: 100%;
    height: 100%;
    padding: 3%;
    border-radius: 1000px;
    background: #2b2f2f;
    box-shadow:
            inset 0 0 10px rgba(200, 200, 255, 0.3),
            0 0 50px black;
    box-sizing: border-box;
}

.wood {
    width: 100%;
    height: 100%;
    padding: 3%;
    border-radius: 1000px;
    background: #a96513;
    box-shadow: inset 1px 1px 1px #f6c384,
    inset -1px -1px 0 #49270c,
    inset 0 0 10px rgba(255, 255, 255, 0.6),
    1px 1px 1px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.board {
    background: #688540;
    width: 100%;
    height: 100%;
    box-shadow:
            inset 0 0 200px black,
            inset 0 3px 0 rgba(0, 0, 0, 0.5),
            0 0 20px rgba(0, 0, 0, 0.6),
            1px 1px black;
    border-radius: 1000px;

    padding: 7%;
    box-sizing: border-box;
}

.board-line {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    border: 3px solid rgba(150, 200, 150, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-cards {
    margin-top: 50px;
    padding: 8px 5px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@keyframes cardshowing {
    from {
        opacity: 0;
        transform: translateY(-150%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-size: 32px;
    display: block;
    float: left;
    width: 50px;
    height: 70px;
    background: #f5f2df;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    line-height: 1em;
    font-weight: bold;
    padding-top: 3px;
    box-sizing: border-box;
    margin: 0 3px;

    animation: cardshowing 0.2s linear;
    animation-fill-mode: both;
    opacity: 0;
}

.card.back {
    background: #c5c2af;
    border: 3px solid #f5f2df
}

.ref .card { animation: none; }

.card.red {
    color: #d00;
}

.suit {
    display: block;
    font-size: 40px;
}

.c1 { animation-delay: 0s; }
.c2 { animation-delay: 0.2s; }
.c3 { animation-delay: 0.4s; }
.c4 { animation-delay: 0.6s; }
.c5 { animation-delay: 0.8s; }

.c6 { animation-delay: 1.1s; }
.c7 { animation-delay: 1.2s; }


.player {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    transform: translate(-50%, 50%);
}

.oponent.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-40%, -50%);
}

.oponent .card {
    width: 40px;
    height: 60px;
}

.bank {
    position: absolute;
    top: 70px;
    text-align: center;
}

.bet-tower {
    display: inline-block;
}

.bet-value {
    margin-top: 30px;
    color: #fd0;
    font-size: 14px;
    text-shadow: 0 2px 0 black;
}

.bet-chip {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
    border: 3px dashed #00a4d9;
    transform: scaleY(0.9);
    box-sizing: border-box;
    box-shadow: 0 1px 0 #023, 0 5px 0 #204469;
    margin-bottom: -25px;
}